*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.services {
    margin-top: -30px;
    padding: 60px;
    background-color: #151515;
}

.my_services {
    padding: 60px;
    color: white;
}

.my_services ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.my_services ul li {
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    padding: 10px;
    display: grid;
    gap: 30px;
    text-align: center;
    max-width: 200px;
    align-content: center;
    height: 400px;
    background-color: #222;
}

.my_services ul li i {
    font-size: 2.3rem;
    color: #780101;
}

.my_services ul li h3 {
    color: white;
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 500;
}

.my_services ul li p {
    color: #917f6e;
    font-size: 1.1rem;
    
}

.my_services li::before {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my_services li::after {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_services li:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid rgb(101, 4, 4);
    border-right: 2px solid rgb(101, 4, 4);
}

.my_services li:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgb(101, 4, 4);
    border-left: 2px solid rgb(101, 4, 4);
}